@mixin col() {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  @include col();
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
}

.avatar {
  @include col();
  align-items: center;
}

.rounded {
  padding: 0px;
}

.pic-button {
  color: #ffffff;
  background-color: #d64933;
  border-radius: 100%;
  transform: translateX(20px) translateY(-20px);
  display: flex;
}
