@mixin col() {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  @include col();
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
}

.map {
  position: relative;
  width: 100%;
  height: 400px;
}

capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 400px;
}
