@use './theme/tokens.scss';
@use 'sass:list';
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/*Utility classes*/
.font-montserrat {
  font-family: 'montserrat';
}


$colors : #0c090d, #adc698, #d64933, #6285b3, #f3eff6;
$colorNames : 'night', 'olivine', 'chili', 'slate', 'white';

@for $i from 1 through 5 {
  .text-#{list.nth($colorNames, $i)} {
    color: list.nth($colors, $i);
  }
  .bg-#{list.nth($colorNames, $i)} {
    background-color: list.nth($colors, $i);
  }
}

.bg-light {
  background-color: #ffffff;
}

:root {
  /* Set the background of the entire app */
  --ion-background-color: #f3eff6;

  --ion-color-secondary: #adc698;
  --ion-color-secondary-rgb: 0, 102, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: darken(#adc698, 2);
  --ion-color-secondary-tint: lighten(#adc698, 2);

  --ion-color-primary: #6285b3;
  --ion-color-primary-rgb: 0, 102, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: darken(#6285b3, 2);
  --ion-color-primary-tint: lighten(#6285b3, 2);

  --ion-color-danger: #d64933;
  --ion-color-danger-rgb: 0, 102, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: darken(#d64933, 2);
  --ion-color-danger-tint: lighten(#d64933, 2);

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 0, 102, 0;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: darken(#ffffff, 2);
  --ion-color-light-tint: lighten(#ffffff, 2);
  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
}

.h-center {
  width: 100%;
  display: flex;
  justify-content: center;
}
