<app-header title="MyColoc"></app-header>
<ion-content >

  <div id="container">
    <strong>Bienvenu !</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
    <p>OUIIIIIIIIIIII</p>
  </div>
</ion-content>
